/*Applied to the entire web page*/
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

/*Smooth scrolling when moving to links*/
html{
  scroll-behavior: smooth;
}

body{
  color: white;
  background-color: rgb(29, 28, 28);

  /*Set preferred fonts to the */
  font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
header {
  padding: 20px 35px;
  /*background-color: var(--tertiary-color);*/
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*TO make the nav stick and be continuously accessible*/
  position: sticky;
  position: -webkit-sticky;
  top: 0;    
  /*pattern*/
  background-image: url("../images/pattern.jpg");
  background-repeat: repeat;
  /*To make the nav image and hero image transition seemless*/
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;

}

/*Header h1 styles*/
header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*Header links underline removal*/
header a {
  text-decoration: none;
  color: white;
}

/*nav display size*/
header nav {
  margin: 7px 0;
}

/*Header nav link position style*/
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/*Header nav link style*/
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

 /*Header link styles changes when hovering*/
header nav ul li a:hover {
  background: yellow;
  color: blue;
  border-radius: 15px;
  text-shadow: none;
}

/*Header ends*/

/*landing page image style*/
.hero {
  background-image: url('../images/hero-bg.jpg');    
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

/*Landing page image dimensions*/
.hero-cta {
  width: 100%;
  height: 350px;    
}


.hero-cta img{
  position: relative;
  /*height: 300px;*/
  height: 20rem;
  width: auto;;
}

  /*Main content grid*/
.grid-container{
    display: grid;
    word-wrap: wrap;
    grid-template-columns: 15% 85%;
    padding: 10px;
    padding-left: 0;

    
}

 /*Main content grid items styles*/
.grid-item{
    border: 1px solid black;
    padding:10px;

    /*rem because now they change with screnn size*/
    font-size: 1.25rem;
}

  /*Content tags only styles*/
.tag{
    background-image: url('../images/pattern.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    width: 15%x;
    height: auto;
    font-size: 1.50rem;
    word-wrap: wrap;
    font-weight: bold;
}

/*The inner grid for worked applicatons*/
.work-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0;
    text-align: center;
}

/*Work grid image styles*/
.work-grid img{
    width: 35%;
    background-attachment:relative;
}

 /*Work grid link styles*/
.work-grid a{
    text-decoration: none;
}

/*Work grid item styles*/
.work-grid-item{
    height:100%;
    width:100%;
}

/*Work grid header*/
.work-grid h3{
  background-color: yellow;
  color: darkblue;
  width:75%;  
  text-align: right;     
  align-items:flex-start; 
}

/*Work grid header on active*/
.work-grid h3:active{
    background-color: red;
    color: yellow;
}

/*Work grid item1 extra span parameters*/
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

/*Contact styles*/
.contacts{
  display: flex;
  justify-content: space-between;
}

/*Contact link styles*/
.contacts a{
    text-decoration: none;
    color: white;
}

/*Media queries for smaller screens*/
@media screen and (max-width: 980px) {

  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .hero-cta{
    height: 250px;
  }

 .hero-cta img{
    height: 250px;
  }

  .work-grid h3{
    font-size:smaller;
  }

}

@media screen and (max-width: 768px) {
  .tag{
    overflow: hidden;
  }

  .contacts{
    font-size: smaller;
  }
}

@media screen and (max-width: 575px) {

  .hero{
    text-align: center;
  }

  .work-grid{
    grid-template-columns: auto;
  }

  .item1{
    grid-column: 1/1;
  }
}